*	{
	padding: 0;
	margin: 0;
}
body {
	background-color: #FDEDEC;
	text-align: center;
}
h1	{
	font-family: Monoton cursive;
	font-size: 80px;
	font-weight: 300;
	color: #EDBB99;
	padding: 50px 0px 70px 0px;
}
li	{
	display: inline-block;
	padding: 0px 50px 0px 50px;
}
nav a {
	font-family: Shrikhand, cursive;
	font-size: 30px;
	font-style: bold;
	color: #D68910;
	display: inline;
}
img	{
	width: 75%;
	border-style: double;
	border-width: 12px;
	border-color: #EDBB99;
	border-radius: 100px;
	padding: 10px;
	margin: auto 0;
}
section {
	padding: 30px;
}
h2	{
	font-family: Montserrat cursive;
	text-decoration: underline;
	color: #D68910;
	font-weight: bold;
	font-size: 30px;
	padding: 30px;
}
main 	{
	padding: 0px 0px 60px 0px;
	font-family: Montserrat cursive;
	color: #EDBB99;
	width: 900px;
	margin: auto;
}
footer a {
	font-family: Shrikhand cursive;
	font-size: 25px;
	color: #D68910;
	padding-bottom: 40px;
}
